body {
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    color:  #0C55FC;
    color:  #0C55FC;
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    background-color: transparent;
}

h3 {
    color:  #0C55FC;
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    background-color: transparent;
}

a:link {
    color:  #0C55FC;
}

a:visited {
    color:  #0C55FC;
}

div.source {
    padding: 0px;
    margin: 0px;
    border: none;
}
pre.prettyprint {
    padding: 5px !important ;
}